page-profile {
    .grid {
        padding: 0;
    }
    
    .grid--followers {
        h1 {
            font-size: 14px;
            margin-top: 1rem;
            margin-bottom: 5px;
            text-align: left;
        }
        h2 {
            font-size: 14px;
            text-align: right;
        }

        .col {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .user_info {
        padding-left: 0;

        .item-inner {
            padding-left: 10px;
        }
    }

    .user_name {
        font-size: 18px;
    }

    .user_image {
        border-radius: 50%;
    }

    .user_description {
        width: 100%;
        margin-top: 4px;
    }

    .button__layout {
        background: #eee;
        box-shadow: none;
        color: #333;
        height: 55px;
        width: 100%;

        &.active {
            background: rgb(206, 206, 206);
        }
    }

    .col {
        padding: 0;
        button {
            border-radius: 0;
            margin: 0;
        }
    }

    .post-list {
        
    }

    .button--follow {
        background: deepskyblue;
        height: 3rem !important;
        margin-top: 5px !important;
    }
}
