app-header {
    @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script|Pacifico');
    padding-bottom: 20px;

    .grid--header {
        text-align: center;

        ion-col {
            padding: 0;
        }

        ion-icon {
            color: #fff;
            font-size: 26px;
            padding: 6px 9px;
            height: 100%;
            box-sizing: border-box;
            width: 100%;
        }

        .toolbar-title {
            color: #fff;
            font-size: 30px;
            font-family: 'Indie Flower', cursive;
            // font-family: 'Pacifico', cursive;
            // font-family: 'Kaushan Script', cursive;
        }
    }

    .button--power {
        &.active {
            color: rgb(0, 148, 197);
        }
    }

    .toolbar-background {
        background: deepskyblue;
    }
}

.ion-page > ion-content {
    margin-top: 45px;
}